<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Add Vegetable</title>
</head>
<body>
    <header>
        <nav class="container flex justify-flex-end">
            <div>{% block menu %} {% include 'menu.html' %} {% endblock menu %}</div>
        </nav>
        <div class="z-index-1"> {% with messages = get_flashed_messages(category_filter=['vegetable']) %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                <strong>*********** ERROR!!!! ***********</strong>
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
                    </div>
            {% endif %}    
        {% endwith %} </div> 
    </header>
    <main>
        <img class="backgroundImg" src="/static/img/cesar.jpg" alt="background image">
        <div class="flex z-index-1 height">
            <form action="/createVeggie" method="post" class="veggieForm bk-opacity">
                <div class="column">
                    <h1>Add Some Veggies {{users.first_name}}!</h1><br>
                    <label for="vegetable"> Vegetable: </label>
                        <input type="text" name="vegetable">
                    <label for="planting_date">Planting Date: </label>
                        <input type="date" name="planting_date">
                    <label for="harvest_date">Harvest Date: </label>
                        <input type="date" name="harvest_date">
                    <label for="zone">Grid Zone: </label>
                        <select name="zone" id="zone">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    <button class="noselect purple btnAdd">Add Veggie</button>     
                </div>
                <input type="hidden" name="users_id" value={{users.id}}>
            </form>
        </div>
    </main>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>