<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Garden Plan</title>
</head>
<body>
    <header>
        <nav class="container flex justify-flex-end">
            <div>{% block menu %} {% include 'menu.html' %} {% endblock menu %}</div>
        </nav>
        <div> {% with messages = get_flashed_messages(category_filter=['____']) %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                <strong>Flash AHHHHHHH!!!!</strong>
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
                    </div>
            {% endif %}    
        {% endwith %} </div> 
    </header>
    <main>

        <div class="file-input">
            <input type="file" id="file" class="file">
            <label for="file">Browse file</label>
        </div>
        <form action="#">
            <input type="hidden" id="myFile" value="1234">
          
            File Selected: <input type="text">
            <button class="btn-primary m-p" type="submit" value="Submit">Upload</button>

        </form>
        
        
        <div id="gradenLayout">

        </div>

    </main>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>