<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Garden Plan</title>
</head>
<body class="gardenPlan">
        <header>
            <nav class="containerGp flex justify-flex-end">
                <div>{% block menu %} {% include 'menu.html' %} {% endblock menu %}</div>
            </nav>
        </header>
        <main>
            <img class="backgroundImg" src="/static/img/annie.jpg" alt="background image">
            <div class="flex">
            <div class="containerGp leftSide">
                <div class="file-input">
                    <form action="/addGardenPlan" method="post">
                        <input accept="image/*" type="file" id="file" class="file" multiple required onchange="loadFile(event)">
                        <label class="noselect purple btnAdd" for="file">Browse Files</label>
                        <button class="noselect green btnAdd">Upload</button>
                        <input id="selectFile" type="hidden" name="picture">
                        <input type="hidden" name="garden_plan" value="Y">
                        <input type="hidden" name="name" value="garden_plan">
                        <input type="hidden" name="users_id" value="{{users.id}}">
                    </form>
                    

                </div>
                <div class="containerGp1 leftSide">
                    <img id="output" class="gardenImg" src="/static/img/{{userPic.picture}}"/>
                </div>
            </div>
            <!-- veggie table with zones -->
            <div class="containerGp rightSide">
                <table class="table table-bordered table-hover table-striped table-success border-secondary thead-dark">
                        
                    {% for vegetable in userVegetables.vegetablesList %}
                        <tr scope="column">
                            <th> Grid Zone {{vegetable.zone}}</th>
                        </tr>
                        <tr scope="column">
                            <td>{{vegetable.vegetable}}</td>
                        </tr>
                    {% endfor %}
                </table>



            </div>
            </div>
        </main>
        <footer>
            <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}">
            </script>
        </footer>


</body>
</html>