<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Home</title>
</head>
<body>
    <header>
        <nav class="container flex justify-flex-end">
            <div>{% block menu %} {% include 'menu.html' %} {% endblock menu %}</div>
        </nav>
    </header>
    <main>
        <img class="backgroundImg" src="/static/img/resul.jpg" alt="background image">
        <div class="z-index-1">
        <div class="photo_slider"></div>
        
        <h2> Welcome {{users.first_name}} these are your Vegetables</h2>
        <table class="table table-bordered table-hover table-striped border-secondary">
            <tr class=" p-3 table-secondary text-dark">
                <th scope="col">Vegetable</th>
                <th scope="col">Planting Date</th>
                <th scope="col">Harvest Date</th>
                <th scope="col">Grid Zone</th>
                <th scope="col">Actions</th>
            </tr>
            {% for vegetable in userVegetables.vegetablesList %}
                <tr scope="row">
                    <td>{{vegetable.vegetable}}</td>
                    <td>{{vegetable.planting_date.strftime("%B %d, %Y")}}</td>
                    <td>{{vegetable.harvest_date.strftime("%B %d, %Y")}}</td>
                    <td>{{vegetable.zone}}</td>
                    <td>
                        <button class="noselect orange" onclick="location.href ='/edit/{{vegetable.id}}';"class="noselect red">Edit</button>
                        <button onclick="location.href ='/delete/{{vegetable.id}}';"class="noselect red">Delete</button>
                    </td>
                    
                </tr>
            {% endfor %}
        </table>
        <button onclick="location.href ='/addVeggies';" class="noselect orange">Add Vegetable</button>
        </div>
    </main>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>