<!DOCTYPE html>
<html lang="en">
<body>
    {% block menu %}
    {% if request.endpoint == 'home'%}
        <button onclick="location.href ='/gardenPlan';" class="noselect yellow">Garden Plan</button>
    {% elif request.endpoint == 'gardenPlan' %}
        <button onclick="location.href ='/home';"class="noselect red">Home</button>
        <button onclick="location.href ='/addVeggies';" class="noselect orange">Add Vegetable</button>
    {% else %}
        <button onclick="location.href ='/home';"class="noselect red">Home</button>
        <button onclick="location.href ='/gardenPlan';" class="noselect yellow">Garden Plan</button>
    {% endif %}
        <button onclick="location.href ='/logout';" class="noselect green">Logout</button>
    {% endblock menu %}
</body>
</html>