* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: comic sans MS;
    flex-wrap: wrap;
}

/* tools */
.flex {
    display: flex;
    align-items: center;
}
.container {
    width: 70%;
    margin: 5px auto;
}
.center {
    justify-content: center;
}
.justify-flex-start {
    justify-content: flex-start;
}
.justify-flex-end {
    justify-content: flex-end;
}
.space-between {
    justify-content: space-between;
}
.space-around {
    justify-content: space-around;
}
.align-flex-start {
    align-items: flex-start;
}
.align-flex-end {
    align-items: flex-start;
}
.align-space-between {
    align-content: space-between;
}
.align-space-between {
    align-content: space-around;
}
.align-content-start {
    align-content: flex-end;
}
.align-self-start {
    align-self: flex-start;
}
.align-self-start {
    align-self: flex-end;
}
.column {
    flex-direction: column;
}
.row {
    display: flex;
    align-items: center;
    margin: 20px;
    justify-content: space-between;
    align-content: center;
}

/* index.html main content */
.index {
    background-image: url("freshvegetables.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
}
main{
    margin: 0px 40px;
}
table {
    border: 2px solid black;
    margin: 10px 0px;
    padding: 10px;
}

form {
    padding: 5px 25px;
    color: black;
    width: 33%;
    font-family: Arial;
    font-weight: normal;
}
input, select, textarea {
    width: 100%;
    padding: 5px 20px 5px 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid rgb(91, 91, 91);
    border-radius: 4px;
    box-sizing: border-box;
}
input:hover {
    background-color: rgb(230, 245, 254);
    color: black;
}

textarea:hover{
    background-color: rgb(230, 245, 254);
    color: black;
}

label, h1, button{
    font-family:  Arial;
    font-weight: normal;
}
.register {
    color: DodgerBlue;
    margin: 10px 0px;
}

.btn-register {
    background-color: DodgerBlue;
    color: white;
    padding: 3px 15px;
    margin: 10px 0px;
    border-radius: 4px;
    width: 90px;
    height: 35px;
    border: none;
    box-shadow: 5px 5px 10px rgb(89, 89, 175);
}

.btn-register:hover {
    background-color: lightskyblue;
    color: black;
}

.login {
    color: forestgreen;
    margin: 10px 0px;
}

.btn-login {
    background-color: forestgreen;
    color: white;
    padding: 3px 15px;
    margin: 10px 0px;
    border-radius: 4px;
    width: 90px;
    height: 35px;
    border: none;
    box-shadow: 5px 5px 10px rgb(94, 149, 100);
}
.btn-login:hover {
    background-color: lightgreen;
    color: black;
}

.alert {
    background-color: lightpink;
    color: maroon;
    border: 1px solid rgb(241, 2, 2);
    border-radius: 4px;
}

/* dashboard.html main content */
.btn-m-p {
    padding: 5px 15px;
    margin: 10px 25px;
}
.btn-primary {
    background-color: DodgerBlue;
    color: white;
    border-radius: 4px;
    border: 1px solid rgb(7, 126, 244);
    box-shadow: 5px 5px 10px rgb(106, 141, 222);
    -webkit-appearance: button;
}

.btn-primary:hover {
    background-color: lightskyblue;
    color: black;
}
.btn-logout {
    background-color: rgba(1, 182, 182, 0.478); 
    color: black;
    padding: 5px 15px;
    margin: 10px 20px;
    border-radius: 4px;
    box-shadow: 5px 5px 10px rgb(99, 168, 217);
    -webkit-appearance: button;
}

.btn-logout:hover {
    background-color: rgb(112, 158, 166);
    color: rgb(255, 0, 0);
}

.bk-opacity {
    background-color: rgb(255, 255, 255, 0.75);
}

.radio-btn {
    margin: 10px 5px;
}

.m-p {
    padding: 5px 15px;
    margin: 10px 25px;
}

label {
    display: flex;
    flex-wrap: nowrap;
    margin: 0px;
}



/* THIS IS THE COVERFLOW SLIDER */
